body {
    background-color: lightsalmon;    
}

td {
    border-style: solid;
    border-color: salmon;
}

header {
    font-family: 'Lobster', cursive;
    color: darkblue;
    text-align: center;
}

div {
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

td {
    font-family: Arial, Helvetica, sans-serif;
}